ScrapeScreen {
    align: center middle;
    background: $background 60%;
}

#scrape-dialog {
    width: 80%;
    height: 80%;
    padding: 1 2;
    border: round $primary;
    background: $surface;
}

#scrape-top {
    height: 1fr;
    margin-bottom: 1;
}

#query-list {
    width: 2fr;
    border: round $primary;
    padding: 0 1;
    margin-right: 1;
}

#settings-pane {
    width: 1fr;
    height: 1fr;
    border: round $primary;
    padding: 1;
}

.pane-title {
    text-style: bold;
    margin-bottom: 1;
}

.section-title {
    text-style: underline;
    margin-bottom: 1;
}

#site-list {
    height: 1fr;
    margin-bottom: 1;
}

#scrape-output {
    height: 10;
}

#scrape-queries {
    height: 1fr;
    margin-bottom: 1;
}

#scrape-actions {
    height: auto;
    align: right middle;
    padding: 1;
}

JobDetailScreen {
    align: center middle;
    background: $background 40%;
}

#job-detail-content {
    width: 90%;
    height: 90%;
    padding: 1 2;
    height: 1fr;
    margin-bottom: 1;
    border: round $primary;
    background: $surface;
}
#job-actions {
    width: 90%;
    /* height: 90%; */
    /* padding: 1 2; */
    /* height: 1fr; */
    /* margin-bottom: 1; */
    /* border: round $primary; */
    /* background: $surface; */
}

#job-details-interest-score-label {
    /* color: $accent; */
    /* width: 10; */
    height: 3;
    margin-bottom: 1;
    /* top right bottom left */
    padding: 1 1 1 2;
    text-style: italic;
}

#job-details-interest-score {
    color: $accent;
    width: 10;
    height: 3;
    margin-bottom: 1;
    padding: 1 0 1 1;
}

#jobsites-grid {
    grid-size: 3;
    grid-gutter: 1 3;
    grid-columns: 1fr 1fr;
    height: auto;
}
/* #scrape-main { */
/*     width: 100%; */
/*     height: 1fr; */
/* } */

#search-bar {
  height: auto;
}

#search-terms-input {
    width: 1fr;
}

#search-location-input {
    width: 1fr;
}
